# lsp stuff
**/.lsp/**

# leiningen stuff
**/target/**
**/classes/**
/checkouts
**/profiles.clj
**/pom.xml
**/pom.xml.asc
**/*.jar
**/*.class
**/.lein-*
**/.nrepl-port

# clj-kondo stuff
**/.clj-kondo/**
**/.cpcache/**
